{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/assets/dist/css/bootstrap.min.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<button class="button"><a href="{% url 'logout' %}">logout</a></button>
<br>

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>username</th>
            <th>email</th>
            <th>last login</th>
            <th>join</th>
        </tr>
        </thead>
        <tbody>
        {% for data in users %}
            <tr>
                <td> {{ data.username }} </td>
                <td> {{ data.email }} </td>
                <td> {{ data.last_login }} </td>
                <td> {{ data.date_joined }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</body>
</html>